<% include ./partials/header%>

<div class="ui text container segment">
    <div class="ui message">
        <div class="header">
            <%= reminder.title%>
        </div>
        <%= reminder.created.toDateString() %> 
        <div class="description">
            <p> <%= reminder.body%> </p>
        </div>
        <a href="/reminders/<%=reminder._id%>/edit" class="ui orange basic button">Edit</a>
        <form id="delete" action="/reminders/<%=reminder._id%>?_method=DELETE" method="POST">
            <button class="ui red basic button">Delete</button>
        </form>
    </div>
</div>

<% include ./partials/footer%>